.jumbotron {
    background-image: url('../images/hero.jpg');
    background-position: top center;
    background-size: cover;
}

#kajian .card:hover,
#kilat .card:hover {
    box-shadow: 0 28px 36px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    cursor: pointer;
}

.card-desc {
    font-size: 14px;
}

#mondok img:hover {
    box-shadow: 0 28px 36px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}

#mondok img {
    width: 30%;
}

blockquote p {
    font-size: 17px;
}

#sponsor .col-12 img {
    width: 33%;
}

#sponsor img {
    height: 105px;
}

.bg-green {
    background-color: #0BC72A;
}